@import '../../../../styles/_colors.scss';

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

mat-toolbar.mat-toolbar {
  background: $level0;
  background: -moz-linear-gradient(left, $level0 0%, $level2 100%);
  background: -webkit-linear-gradient(left, $level0 0%, $level2 100%);
  background: linear-gradient(to right, $level0 0%, $level2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = $level0, endColorstr = $level2, GradientType = 1 );
  min-height: auto;

  ::ng-deep {
    .mat-toolbar-layout {
        height: 100%;
    }
    .mat-toolbar-row {
        height: 100%;
    }
  }

  .logo {
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 2.5em;
    }

    .role {
      font-size: 1em;
    }

  }

  .spacer {
    flex: 1 1 auto;
  }

  .buttons {
    display:  flex;
  }

}
