@import '../../../../styles/_colors.scss';


md-toolbar.mat-toolbar.mat-primary {
  min-height: auto;
  /deep/ {
    .mat-toolbar-layout {
        height: 100%;
    }
    .mat-toolbar-row {
        height: 100%;
    }
  }

  .logo {
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    display: flex;
    flex-direction: column;

    .name {
      font-size: 2.5em;
      // padding-bottom: 10px;
    }

    .role {
      // opacity: .7;
      font-size: 1em;
    }

  }

  .spacer {
    flex: 1 1 auto;
  }

  .buttons {
    display:  flex;
  }

  // &.small {
  //   // min-height: 48px;
  //   // /deep/ {
  //   //   .mat-toolbar-row {
  //   //       height: 48px;
  //   //   }
  //   // }

  //   .logo {
  //     cursor: pointer;
  //     font-family: 'Dosis', sans-serif;
  //     display: flex;

  //     .name {
  //       font-size: 1em;
  //       padding-bottom: 10px;
  //     }

  //     .role {
  //       opacity: .7;
  //       font-size: .6em;
  //       padding: 5px 0 0 10px;
  //     }
  //   }
  // }
}
