@import '../../../../../styles/_colors';

.content {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 2em;

    .column {
        // min-width: 200px;
        button {
            // width: 90%;
            // margin: 2% 5%;
            padding: 0;
            margin: 0;
            height: 3em;
            width: 2em;

        }
    }

    .boardcontainer {
        width: 100%;

        margin-top: 10px;
    }

    .board {
        margin: 0 auto;
        max-width: 600px;

        mat-grid-tile {
            background: $color50;
        }

        .active {
            background: $color400;
        }
    }

    .accent {
        background: $color50;
        padding: 10px;
        margin: 5px;
        font-size: .9em;
    }
}

@media(max-width: 720px) {
    .content {
        display: flex;
        flex-direction: column;       
    
        .column {
            display: flex;
            flex-direction: row;
        }
    }
}
