<md-card-title>
  <div class="header">
    <div class="title" ><span [routerLink]="blog.key">{{blog.title}}</span></div>
  </div>
  <div class="subheader">
    <h3><i class="fa fa-calendar"></i>{{blog.date_published | date:'dd MMMM y'}}</h3> 
    <div class="fill"></div>
    <button md-mini-fab class="button github" *ngIf="blog.github" (click)='openWindow(blog.github)'><i class="mdi mdi-github-circle"></i></button>
    <button md-icon-button [mdMenuTriggerFor]="menu" class="menu" mdTooltip="Share" (mouseover)="someMethod()">
      <md-icon>share</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item *ngFor="let item of socialLinks"
        (click)='openWindow(item.url)'>
        <i [class]="item.icon"></i>
        <span target="social">{{item.name}}</span>
      </button>
    </md-menu>
  </div>
</md-card-title>
