<div class="content">
  <h2>About Me</h2>
  <section>
    Just a guy that enjoys coding.
  </section>
  <h2>Articles</h2>
  <section>
    > How to build your blog step by step<br/><br/>
    - Set up angular cli<br/>
    - Basic structure angular app<br/>
  </section>
  <h2>Last Post</h2>
  <section>
    > Post 1<br/>
    > Post 2<br/>
    > Post 3<br/>
    > Post 4<br/>
  </section>
  <h2>Playground</h2>
  <section>
    > Angular Game of Life <br/>
    <a [routerLink]="['/','demos']"> > TFL </a>
  </section>
  <h2>Tags</h2>
  <section>
    > Angular<br/>
    > Typescript<br/>
    > C#<br/>
    > .NET Core<br/>
    > SignalR<br/>
  </section>
</div>