<section class="content">
  <section class="selector">
    <mat-input-container>
      <input matInput placeholder="Bus or Line Tube" [matAutocomplete]="auto" [formControl]="term">
    </mat-input-container>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let item of items" [value]="item" (onSelectionChange)="onChange(item)">
        {{ item.lineName }}
      </mat-option>
    </mat-autocomplete>    
  </section>
  <section class="display" >
    <mat-card class="info" *ngIf="data">
      <mat-card-header>
        <div class="buttons">
          <button mat-raised-button [class.active]="!outbound" (click)="toggleOutbound()">Inbound</button>
          <button mat-raised-button [class.active]="outbound" (click)="toggleOutbound()">Outbound</button>
        </div>
        <mat-card-title>{{data.lineName}}</mat-card-title>
        <mat-card-subtitle>{{data.orderedLineRoutes[0]?.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <section class="map">
          <dr-gmaps [lat]="minLat" [lng]="minLon" [markers]="markers" [polygons]="polygons"></dr-gmaps>
        </section>
      </mat-card-content>
    </mat-card>
    <mat-card class="stations">
      <mat-card-content>
        <div class="example-header">
          <mat-input-container floatPlaceholder="never">
            <input matInput #filter placeholder="Filter stations">
          </mat-input-container>
        </div>
        <mat-table #table [dataSource]="dataSource" *ngIf="data">

          <ng-container cdkColumnDef="letter">
            <mat-header-cell *cdkHeaderCellDef> Letter </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.stopLetter}} </mat-cell>
          </ng-container>

          <ng-container cdkColumnDef="name">
            <mat-header-cell *cdkHeaderCellDef> Name </mat-header-cell>
            <mat-cell *cdkCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </section>
</section>
