.content {
    padding: 20px;
}

.display {
    display: flex;
}

.info { 
    background: #fff;
    width: 60%;
}

.stations {
    width: 40%;

    mat-card-content,
    .mat-card-content {
        max-height: 500px;
        display: flex;
        flex-direction: column;
    }

    .mat-table {
        overflow: auto;
        }
}

.buttons {
    flex-grow: 2;
    text-align: right;

    .active {
        background: #0F2540;
        color: white;
    }
}