@import "../../../../../styles/_colors";

mat-tab-group {
  background-color: $level0;
  color: $level6;

  /deep/ {
    .path {
      color: $color700;
      font-size: 0.7em;
      position: absolute;
      width: 100%;
      text-align: left;
      top: -12px;
    }

    .mat-tab-label-active {
      opacity: 1;
      background: $level1;
    }
    // .mat-tab-header { border-color: $color100; }

    .filename {
      font-size: 1em;
      padding-top: 5px;
    }

    .file {
      color: $level5;
      
      &.lang-html {
        color: $level5;
      }
      &.lang-ts {
        color: $level5;
      }
      &.lang-scss {
        color: $level5;
      }
    }
  }
}

pre {
  font-size: 80%;
  margin: 0;
  overflow: auto;
  padding: 10px 20px;
}

.copybutton {
  position: absolute;
  right: 7px;
  top: 7px;
  height: 22px;
  line-height: initial;
  background: $color300;
  color: $background;
}

.hiddenbutton {
  display: none;
}

.down {
  position: relative;
}