@import '../../../../styles/_colors.scss';

mat-dialog-actions {
    background: $level6;  
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 300px;

    button {
      color: white;
      margin: 6px auto;
      width: 90%;
      
      &.delete,
      &.google {
        background-color: #DD4B39;
      }
      &.github {
        background-color: #444444;
      }
      &.twitter {
        background-color: #1da1f2;
      }
      i { padding: 0 10px; font-size: 1.3em; }
    }
  }