<h2 md-dialog-title> Add New Snippet </h2>
<md-dialog-content class="content" *ngIf="form">
    <form [formGroup]="form">
        <div class="row">
            <md-input-container>
                <input mdInput formControlName="language" placeholder="Language">
            </md-input-container>
                <md-input-container>
                <input mdInput formControlName="category" placeholder="Category">
            </md-input-container>
            <md-input-container>
                <input mdInput formControlName="extension" placeholder="extension">
            </md-input-container>
        </div>
        <md-input-container>
            <input mdInput formControlName="title"  placeholder="Title">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="description" placeholder="Description">
        </md-input-container>
        <md-input-container>
            <textarea  mdInput formControlName="code" placeholder="Code"></textarea>
        </md-input-container>
    </form> 
</md-dialog-content>
<md-dialog-actions>
    <button md-button md-dialog-close>Close</button>
    <button md-button [md-dialog-close]="form">Save</button>
</md-dialog-actions>