<div class="container" *ngIf="form">
  <mat-card class="row">
    <form [formGroup]="form">
      <div class="row">
        <mat-input-container class="full-width">
          <input matInput placeholder="Key" formControlName="key" type="text">
        </mat-input-container>
        <mat-input-container class="full-width">
            <input matInput placeholder="Github" formControlName="github" type="text">
        </mat-input-container>
      </div>
      <mat-input-container class="full-width">
        <input matInput placeholder="Title" formControlName="title" type="text">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput placeholder="Publish" formControlName="date_published" type="datetime-local">
      </mat-input-container>
      <div formArrayName="sections">
        <div *ngFor="let control of (form.controls['sections'].controls | orderByOrder); let i = index;" class="section">
          <dr-edit-item-section
            [form]="control"
            [showSwap]="form.controls['sections'].controls.length > (i + 1)"
            (moveSwap)="onSwapSection(control.value.order)"
            (deleteSection)="onDeleteSection(control.value.order)"
            (addSection)="onAddSection(control.value.order)"
            (addFile)="onAddFile(control.value.order)">
          </dr-edit-item-section>
        </div>
      </div>
    </form>
  </mat-card>
</div>
<section class="save">
  <a mat-fab color="primary" (click)="onSave($event)" [disabled]="!form.valid"><mat-icon>save</mat-icon></a>
</section>