@import '../../../../../styles/_colors';

.mat-title {
    margin: 10px 0 10px 0;
    padding: 20px;
    background: $level5;
    font-size: 1em;
    border-left: 3px solid $level3;
}

.mat-list .mat-list-item 
{
    ::ng-deep {
        .mat-list-item-content
        {
            padding: 0;
        }
    }
}

.item {
    cursor: pointer;   
    display: flex;
    flex-direction: column;
    margin: 0 0 1px 0 ;
    padding: 0;

    .text { 
        background: $level5;
        flex-grow: 2;
        height: 48px;
        .inner {
            padding: 16px;
        }
    }

    .imgwrapper {
        background: $level5;
        display: flex;
        height: 48px;
        margin-left: 1px;
        width: 48px;
        img { width: 35px; padding: 5px; }
        i { font-size: 2em; opacity: .7; padding: 7px; }
    }

    &:hover { 
        .text { background: $level4; }
        .imgwrapper { background: $level4; }
    }
}
