<section class="content">
  <h1 class="mat-title">
    This demo is a small angular application that retrieve data from a public api. In this case, we use the <a href="https://api.tfl.gov.uk/">Transport for London API</a> to
    get the current status of the line, and a search by line to retrieve stops and routes.
  </h1>
  <mat-list>
    <mat-list-item class="item" *ngFor="let item of list" [routerLink]="item.link">
      <div class="text"><div class="inner">{{item.text}}</div></div>
    </mat-list-item>
  </mat-list>
</section>