@import '~@angular/material/theming';
@import "./_colors";

@include mat-core();
$mat-daniru: (
  50:   $color50,
  100:  $color100,
  200:  $color200,
  300:  $color300,
  400:  $color400,
  500:  $color500,
  600:  $color600,
  700:  $color700,
  800:  $color800,
  900:  $color900,
  A100: $colorA100,
  A200: $colorA200,
  A400: $colorA400,
  A700: $colorA700,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$dr-primary: mat-palette($mat-daniru, 500);
$dr-accent:  mat-palette($mat-grey, 100, A100, A400);

// The warn palette is optional (defaults to red).
$dr-warn:  mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$dr-theme: mat-light-theme($dr-primary, $dr-accent, $dr-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($dr-theme);

$custom-typography: mat-typography-config(
  $font-family: $font-family,
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);
// Override typography for a specific Angular Material components.
@include mat-checkbox-typography($custom-typography);
// Override typography for all Angular Material, including mat-base-typography and all components.
@include angular-material-typography($custom-typography);

snack-bar-container {
  background: #DD4B39 !important;
}

.mat-menu-content {
  button {
    // padding: 5px;
    i { 
      opacity: .6;
      padding: 0 10px 0 0;
    }
  }
}

.mat-card-header {
  .mat-card-header-text {
    margin: 0;
  }
}