.content {
    padding: 10px;
}

h2 {
    padding: 0 10px;
    margin: 0;
}

.item {
    background: #fff;
    border: 1px solid #d3dae2;
    opacity: .8;
    cursor: pointer;
    margin-bottom: 1px;
    &:hover { opacity: 1; background: #d3dae2; }
}

.tags {
    text-align: right;
    flex-grow: 2;
}