@import '../styles/_colors';
@import '../styles/_mixins.scss';

.sidenav-container {
    background: transparent;
    min-height: calc(100% - 64px);
}

.sidenav {
    margin-top: 1px;
    padding: 10px;
    background: $level2;
    // background: -moz-linear-gradient(left, $level3 0%, $level2 100%);
    // background: -webkit-linear-gradient(left, $level3 0%, $level2 100%);
    // background: linear-gradient(to right, $level3 0%, $level2 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = $level3, endColorstr = $level2, GradientType = 1 );
}