<!-- hola
 <script>
  function initMap() {
    var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script> 
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap"></script> -->
<agm-map [latitude]="lat" [longitude]="lng" [usePanning]="true" [zoom]="12">
  <agm-marker 
    *ngFor="let marker of markers"
    [latitude]="marker.lat"
    [longitude]="marker.lng"
    [label]="marker.label"
    [title]="marker.title"
    (markerClick)="marker.clicked(marker)" >
    <agm-info-window>
      <div class="title">Arrivals</div>
      <div class="arrive" *ngFor="let info of marker.asyncInfo | async">
        <div class="name">{{info.lineName}}: </div>
        <div class="time">{{info.timeToStation / 60 | number: "1.0-0"}} min.</div>
      </div>
    </agm-info-window>
  </agm-marker>
  <!-- <agm-polygon [paths]="polygon.path" *ngFor="let polygon of polygons"></agm-polygon> -->
  <agm-polyline [strokeColor]="'#DC241F'" [strokeOpacity]="1" [strokeWeight]="1" [zIndex]="999" *ngFor="let polygon of polygons">
    <agm-polyline-point 
      *ngFor="let point of polygon.path"
      [latitude]="point.lat"
      [longitude]="point.lng"></agm-polyline-point>
  </agm-polyline>
</agm-map>
