<section class="container">
  <div class="mat-title">
    Maybe I have bad memory but how many times you search more than once the same piece of code? 
    This section contains a random selection of code snippets that I've joined because I have search them a few times. 
    Hopefully they can be helpfull for someone else.
  </div>
  <div class="head">
    <dr-search-box placeholder="Search Snippet" (textChanged)="onChangeFilter($event)"></dr-search-box>
    <dr-add-snippet *ngIf="authService.user.isAdmin" [snippet]="snippetToEdit" (finished)="finishEdit($event)"></dr-add-snippet>
  </div>
  <section class="main">
    <section class="snippets">
      <dr-snippet [item]="item" *ngFor="let item of snippets | async" (edit)="editSnippet($event)">{{item.title}}</dr-snippet>
    </section>
    <section class="separation"></section>
    <section class="languages">
      <mat-list dense>
        <mat-list-item class="item" *ngFor="let item of languages | async" (click)="selectLanguage(item)" [class.selected]="language == item">
          <div class="text"><div class="inner">{{item}}</div></div>
        </mat-list-item>
      </mat-list>
    </section>
</section>

