@import '../../../../styles/_container';

.head {
    display: flex;
    flex-direction: row;

    dr-search-box {
        flex-grow: 2;
        ::ng-deep {
            mat-input-container {
                width: 100%;
            }
        }
        padding-right: 10px;
    }
    
    dr-add-snippet {
        margin-top: 15px;
    }
}

.main {
    display: flex;
   
    .languages {
        min-width: 200px;
        mat-list { padding: 0; }
    }

    .separation { min-width: 10px; }

    .snippets {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        overflow: hidden;
    }
}

@media(max-width: 720px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
    }

}
