@import '../../../../styles/_colors';

.mat-title {
    margin: 10px 0 10px 0;
    padding: 20px;
    background: $level5;
    font-size: 1em;
    border-left: 3px solid $level3;
}

.main {
    display: flex;
   
    .languages {
        min-width: 200px;

        mat-list {
            padding: 0;
        }

        .item {
            border-left: 3px solid $level2;
            cursor: pointer;
            margin-bottom: 1px;
            background: $level5;
            font-size: 1em;
            &.selected,
            &:hover { opacity: 1; background: $level4; }
        }
    }

    .separation {
        min-width: 20px; 
    }

    .snippets {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
        overflow: hidden;
    }
}

.row {
    display: flex;
}

dr-search-box {
    flex-grow: 2;
}

dr-add-snippet {
    margin-top: 15px;
}




