<section class="container">
  <h1 class="mat-title">
    Just a few recopilation of demos and projects that I create to learn new technologies and new stuff. Enjoy them.
  </h1>
  <mat-list>
    <mat-list-item class="item" *ngFor="let item of list" [routerLink]="item.link">
        {{item.text}}
        <div class="fill"></div>
        <div class="tags">
          <div class="imgwrapper">
              <img src="/assets/firebase.svg" matTooltip="Firebase" *ngIf="item.hasFirebase" />
            </div>
          <i [class]="tag.icon" [matTooltip]="tag.name" *ngFor="let tag of item.tags"></i>
        </div>
      </mat-list-item>
  </mat-list>
</section>
