.mat-title {
    padding: 20px 0;
}

h2 {
    padding: 0 10px;
    margin: 0;
}

.item {
    background: #fff;
    border: 1px solid #d3dae2;
    opacity: .8;
    cursor: pointer;
    margin-bottom: 1px;
    &:hover { opacity: 1; background: #d3dae2; }
}