.mat-title {
    padding: 20px 0;
}

h2 {
    padding: 0 10px;
    margin: 0;
}

.item {
    background: #fff;
    border: 1px solid #d3dae2;
    opacity: .8;
    cursor: pointer;
    margin-bottom: 1px;
    &:hover { opacity: 1; background: #d3dae2; }
}

.fill {
    flex-grow: 2;
}

.tags {
    display: flex;
    i { font-size: 2em; opacity: .7; }
    .imgwrapper {
        padding-top: 5px;
        img { width: 35px; }
    }
    
}