<section class="container">
  <h1 class="mat-title">
    Just a few recopilation of demos and projects that I create to learn new technologies and new stuff. Enjoy them.
  </h1>
  <md-list>
    <md-list-item class="item" *ngFor="let item of list" [routerLink]="item.link">
        {{item.text}}
        <div class="fill"></div>
        <div class="tags">
          <div class="imgwrapper">
              <img src="/assets/firebase.svg" mdTooltip="Firebase" *ngIf="item.hasFirebase" />
            </div>
          <i [class]="tag.icon" [mdTooltip]="tag.name" *ngFor="let tag of item.tags"></i>
        </div>
      </md-list-item>
  </md-list>
</section>
