<section class="container">
  <h1 class="mat-title">
    Just a few recopilation of demos and projects that I create to learn new technologies and new stuff. Enjoy them.
  </h1>
  <mat-list>
    <mat-list-item class="item" *ngFor="let item of list" [routerLink]="item.link">
      <div class="text">
        <div class="inner">{{item.text}}</div>
      </div>
      <div class="imgwrapper" *ngIf="item.hasFirebase">
          <img src="/assets/firebase.svg" matTooltip="Firebase" />
      </div>
      <div class="imgwrapper" *ngFor="let tag of item.tags">
        <i [class]="tag.icon" [matTooltip]="tag.name"></i>
      </div>
      </mat-list-item>
  </mat-list>
</section>
