<dr-sub-header title="Demos > Transport For London Demo > Current Status"></dr-sub-header>
<section class="content">
  <md-list>
    <!-- <h3 md-subheader>Folders</h3> -->
    <md-list-item *ngFor="let status of stream | async">
        <h4 [class]="status.id"><div>{{status.name}}</div></h4>
        <content class="statuswrapper">
          <content class="status"  *ngFor="let linestatus of status.lineStatuses">
            <div [class]="'statusdetail status' + linestatus.statusSeverity"> {{linestatus.statusSeverityDescription}}</div>
            <div class="reason">
              {{linestatus.reason}}
              <span class="additional" *ngIf="linestatus.disruption">{{linestatus.disruption.additionalInfo}}</span>
            </div>
          </content>
        </content>
        <!-- <div *ngIf="status.lineStatuses[0].statusSeverity != 10 && status.lineStatuses[0].statusSeverity != 20 && status.lineStatuses[0].statusSeverity != 3">
          {{status.lineStatuses[0] | json}}
        </div> -->
        <!-- <div *ngIf="linestatus.statusSeverity != 10">
          
        </div> -->
    </md-list-item>
  </md-list>
<section>
<!-- <section *ngFor="">
  {{}}
  {{status | json}}
</section> -->
