<section class="content">
  <md-tab-group>
    <md-tab label="Tube and Train">
      <dr-status-panel [modes]="modesTube"></dr-status-panel>
    </md-tab>
    <md-tab label="Bus">
      <dr-status-panel [modes]="modesBus"></dr-status-panel>
    </md-tab>
    <md-tab label="National Train">
      <dr-status-panel [modes]="modesTrain"></dr-status-panel>
    </md-tab>
    <md-tab label="River Services">
      <dr-status-panel [modes]="modesRiver"></dr-status-panel>
    </md-tab>
    <md-tab label="Cable Car, Tram & Others Serices">
      <dr-status-panel [modes]="modesOthers"></dr-status-panel>
    </md-tab>
  </md-tab-group>
<section>

