<section class="content">
  <mat-tab-group>
    <mat-tab label="Tube and Train">
      <dr-status-panel [modes]="modesTube"></dr-status-panel>
    </mat-tab>
    <mat-tab label="Bus">
      <dr-status-panel [modes]="modesBus"></dr-status-panel>
    </mat-tab>
    <mat-tab label="National Train">
      <dr-status-panel [modes]="modesTrain"></dr-status-panel>
    </mat-tab>
    <mat-tab label="River Services">
      <dr-status-panel [modes]="modesRiver"></dr-status-panel>
    </mat-tab>
    <mat-tab label="Cable Car, Tram & Others Serices">
      <dr-status-panel [modes]="modesOthers"></dr-status-panel>
    </mat-tab>
  </mat-tab-group>
<section>

