h4 {
    font-weight: normal;
}

.bakerloo { 
    color: #FFFFFF;     background-color: #894e24; }
.central { 
    color: #FFFFFF;     background-color: #dc241f; }
.circle { 
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #000;
    background-color: #ffce00; }
.district { 
    color: #FFFFFF;     background-color: #007229; }
.dlr { 
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #000;
    background-color: #00afad; }
.hammersmith-city { 
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #000;
    background-color: #d799af;
}
.jubilee { 
    color: #FFFFFF;
    background-color: #6a7278;
}
.metropolitan { 
    color: #FFFFFF;     background-color: #893267; }
.northern { 
    color: #FFFFFF;     background-color: #000; }
.london-overground { 
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #000;
    background-color: #e86a10; }
.piccadilly { 
    color: #FFFFFF;     background-color: #0019a8; }
.victoria { 
    color: #FFFFFF;     background-color: #00a0e2; }
.waterloo-city { 
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    color: #000;
    background-color: #76d0bd ; }
.tfl-rail { 
    color: #FFFFFF;     background-color: #0019a8; }
.tram { 
    color: #FFFFFF;     background-color: #6c0; }