<div class="container">
  <mat-card>
    <mat-card-header>
      <dr-item-header [blog]="blog" [headerLink]="true"></dr-item-header>
    </mat-card-header>
    <mat-card-content>
      <dr-item-section [section]="firstSection"></dr-item-section>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent" [routerLink]="blog.key">Read More</button>
    </mat-card-actions>
  </mat-card>
  <!-- <div class="separator">
    <div class="inner"></div>
  </div> -->
</div>


