@import '../../../../styles/_colors';

mat-card {
  background: transparent;
  border: 0;
  box-shadow: none !important;
  margin: 10px 0 10px 0;
  padding: 0;
}

mat-card-header {
  height: auto;
}

mat-card-content {
  padding: 10px;
  // border-left:3px solid #a5acb0;
  background: #c4c7c8;
}

mat-card-actions {
  text-align: center;
  button {
    color: $color400;
    opacity: 1;
    &:hover { opacity: 0.8; }
  }
}

.separator {
  // height: 20px;
  text-align: center;
  .inner {
    border-bottom: 4px solid $color100;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }
}


// opacity: .8;
// cursor: pointer;
// margin-bottom: 1px;
// &:hover { opacity: 1; background: #a5acb0; }