@import  "../../../../styles/_colors";

.content {
    padding: 20px;
    width: 100%;

    .row {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%;
        
        .item,
        .item2 {
            min-width: 300px;
            width: 29%;
            margin: 2%;
            position: relative;
            display: flex;
            flex-direction: column;

            .header {
                display: flex;

                .title {
                    border-bottom: 3px solid $color300;
                    font-family: 'Dosis', sans-serif;
                    font-size: 1.5em;
                    padding: 0 10px 0 0;
                }
            }

            .body {
                padding: 20px 0;
            }

            
        };

        .item2 {
            width: 47%;
            margin: 2%;
        }
    }
}

md-card {
    width: 90%;
    height: 100%;
    background: transparent;
    border: 0;
    box-shadow: none;

    
}