<section class="content">
  <div class="row">
    <div class="item"> 
      <div class="header">   
        <div class="title">
          About Me
        </div>
      </div>
      <div class="body">
        Born in Barcelona a few years ago, I am an enthusiastic and impassioned with many years of experience in application development.
        <br/><br/>
        As a full-stack developer, I have been designing and developing software with a wide range of technologies for Telecom to Betting 
        companies in Spain, Belgium and UK. 
        <br/><br/>
        Excellent problem solving capability, good organization skills, great attention to details and self motivated. 
        Enthusiastic with cutting-edge technology and passionate about learning new skills. 
        <br/><br/>
        Fluent in English, Spanish and Catalan. 
      </div>
    </div>
    <div class="item"> 
      <div class="header">   
        <div class="title">
          My Expertise
        </div>
      </div>
      <div class="body">
         <md-list>
          <md-list-item>
            <i class="fa fa-code" md-list-icon ></i>
            <h4 md-line>Microsoft Technologies (C#, WCF, MVC) ... <br/></h4>
            <p md-line>VB, Python</p>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-television" md-list-icon></i>
            <h4 md-line>JS, Ts, Angular, CSS, SCSS, ...</h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-database" md-list-icon></i>
            <h4 md-line>MSSQL, MySQL, Mongo, Firebase</h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-paper-plane" md-list-icon></i>
            <h4 md-line>RabbitMQ, SignalR, WAMP</h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-cogs" md-list-icon></i>
            <h4 md-line>Git, TFS, Visual Studio, Visual Code</h4>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="item"> 
      <div class="header">   
        <div class="title">
          Contact Info
        </div>
      </div>
      <div class="body">
        <md-list>
          <md-list-item>
            <i class="fa fa-envelope" md-list-icon></i>
            <h4 md-line><a href="mailto:daniru@gmail.com">daniru@gmail.com</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-twitter" md-list-icon></i>
            <h4 md-line><a href="https://twitter.com/DRubioU">@DRubioU</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-github" md-list-icon></i>
            <h4 md-line><a href="https://github.com/daniru">daniru</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-linkedin-square" md-list-icon></i>
            <h4 md-line><a href="https://www.linkedin.com/in/daniel-rubio-34441a26/">Daniel Rubio</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-instagram" md-list-icon></i>
            <h4 md-line><a href="https://www.instagram.com/drubiou/">drubiou</a></h4>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="item2"> 
      <div class="header">   
        <div class="title">
          Experience
        </div>
      </div>
      <div class="body">
         <md-list>
          <md-list-item>
            <i class="fa fa-code" md-list-icon ></i>
            <h4 md-line>Microsoft Technologies (C#, WCF, MVC) ... <br/></h4>
            <p md-line>VB, Python</p>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-television" md-list-icon></i>
            <h4 md-line>JS, Ts, Angular, CSS, SCSS, ...</h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-database" md-list-icon></i>
            <h4 md-line>MSSQL, MySQL, Mongo, Firebase</h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-paper-plane" md-list-icon></i>
            <h4 md-line>RabbitMQ, SignalR, WAMP</h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-cogs" md-list-icon></i>
            <h4 md-line>Git, TFS, Visual Studio, Visual Code</h4>
          </md-list-item>
        </md-list>
      </div>
    </div>
    <div class="item2"> 
      <div class="header">   
        <div class="title">
          Education
        </div>
      </div>
      <div class="body">
        <md-list>
          <md-list-item>
            <i class="fa fa-envelope" md-list-icon></i>
            <h4 md-line><a href="mailto:daniru@gmail.com">daniru@gmail.com</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-twitter" md-list-icon></i>
            <h4 md-line><a href="https://twitter.com/DRubioU">@DRubioU</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-github" md-list-icon></i>
            <h4 md-line><a href="https://github.com/daniru">daniru</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-linkedin-square" md-list-icon></i>
            <h4 md-line><a href="https://www.linkedin.com/in/daniel-rubio-34441a26/">Daniel Rubio</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-instagram" md-list-icon></i>
            <h4 md-line><a href="https://www.instagram.com/drubiou/">drubiou</a></h4>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div> -->
</section>

<!-- http://www.demo.mutationmedia.net/DIFFERENCE/index.html -->