<section class="content">
  <div class="row">
    <div class="item"> 
      <div class="header">   
        <div class="title">
          About Me
        </div>
      </div>
      <div class="body">
        Born in Barcelona a few years ago, I am a Talented Engineer with huge experience in creating web application for a differente range of companies, since Banking, Betting, Fantasy games to big factories.
      </div>
    </div>
    <div class="item"> 
      <div class="header">   
        <div class="title">
          My Expertise
        </div>
      </div>
      <div class="body">
        BackEnd:  Microsoft Technologies (C#, WCF, MVC) ... <br/>
        FontEnd:  JS, Ts, Angular, CSS, SCSS, ... <br/>
        DB: MSSQL, MySQL, Mongo, Firebase
      </div>
    </div>
    <div class="item"> 
      <div class="header">   
        <div class="title">
          Contact Info
        </div>
      </div>
      <div class="body">
        <md-list>
          <md-list-item>
            <i class="fa fa-envelope" md-list-icon></i>
            <h4 md-line><a href="mailto:daniru@gmail.com">daniru@gmail.com</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-twitter" md-list-icon></i>
            <h4 md-line><a href="https://twitter.com/DRubioU">@DRubioU</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-github" md-list-icon></i>
            <h4 md-line><a href="https://github.com/daniru">daniru</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-linkedin-square" md-list-icon></i>
            <h4 md-line><a href="https://www.linkedin.com/in/daniel-rubio-34441a26/">Daniel Rubio</a></h4>
          </md-list-item>
          <md-list-item>
            <i class="fa fa-instagram" md-list-icon></i>
            <h4 md-line><a href="https://www.instagram.com/drubiou/">drubiou</a></h4>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="item"> 
      <div class="header">   
        <div class="title">
          My Resume
        </div>
      </div>
      <div class="body">
        Born in Barcelona a few years ago, I am a Talented Engineer
      </div>
    </div>
  </div>
  <!-- <md-card>
    <md-card-header>
      Education
    </md-card-header>
  </md-card>
  <md-card>
    <md-card-header>
      Experience
    </md-card-header>
  </md-card>
  <md-card>
    <md-card-header>
      Skills
    </md-card-header>
  </md-card>
  <md-card>
    <md-card-header>
      Languages
    </md-card-header>
  </md-card> -->
</section>

<!-- http://www.demo.mutationmedia.net/DIFFERENCE/index.html -->