<section class="container">
  <div class="row">
    <div class="item"> 
      <div class="header">   
        <div class="mat-h1">
          About Me
        </div>
      </div>
      <div class="main">
        Born in Barcelona, I am an enthusiastic and impassioned with many years of experience in application development.
        <br/><br/>
        As a full-stack developer, I have been designing and developing software with a wide range of technologies for Telecom to Betting 
        companies in Spain, Belgium and UK. 
        <br/><br/>
        Excellent problem solving capability, good organization skills, great attention to details and self motivated. 
        Enthusiastic with cutting-edge technology and passionate about learning new skills. 
        <br/><br/>
        Fluent in English, Spanish and Catalan. 
      </div>
    </div>
    <div class="item"> 
      <div class="header">   
        <div class="mat-h1">
          My Expertise
        </div>
      </div>
      <div class="main">
         <mat-list>
          <mat-list-item>
            <i class="fa fa-code" mat-list-icon matTooltip="Back End"></i>
            <h4 mat-line>Microsoft Technologies (C#, WCF, MVC) ... <br/></h4>
            <p mat-line>VB, Python</p>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-television" mat-list-icon matTooltip="Front End"></i>
            <h4 mat-line>JS, Ts, Angular, CSS, SCSS, ...</h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-database" mat-list-icon matTooltip="Data"></i>
            <h4 mat-line>MSSQL, MySQL, Mongo, Firebase</h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-paper-plane" mat-list-icon matTooltip="Communication"></i>
            <h4 mat-line>RabbitMQ, SignalR, WAMP</h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-cogs" mat-list-icon matTooltip="Tools"></i>
            <h4 mat-line>Git, TFS, Visual Studio, Visual Code</h4>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="item"> 
      <div class="header">   
        <div class="mat-h1">
          Contact Info
        </div>
      </div>
      <div class="body">
        <mat-list>
          <mat-list-item>
            <i class="fa fa-envelope" mat-list-icon></i>
            <h4 mat-line><a href="mailto:daniru@gmail.com">daniru@gmail.com</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-twitter" mat-list-icon></i>
            <h4 mat-line><a href="https://twitter.com/DRubioU">@DRubioU</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-github" mat-list-icon></i>
            <h4 mat-line><a href="https://github.com/daniru">daniru</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-linkedin-square" mat-list-icon></i>
            <h4 mat-line><a href="https://www.linkedin.com/in/daniel-rubio-34441a26/">Daniel Rubio</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-instagram" mat-list-icon></i>
            <h4 mat-line><a href="https://www.instagram.com/drubiou/">drubiou</a></h4>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="item3"> 
      <div class="header">   
        <div class="mat-h1">
          Experience
        </div>
      </div>
      <br />
      <div class="body">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
                Daniru Ltd
            </mat-panel-title>
            <mat-panel-description class="position">
                Founder / CEO
            </mat-panel-description>
            <mat-panel-description class="location">
                <i class="material-icons">location_on</i> London / Barcelona
            </mat-panel-description>
            <mat-panel-description class="period">
                <i class="material-icons">date_range</i> 09.2017 - Current
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Working with an Agile, Scrum methodology to ensure delivery of high quality work every 2/3 weeks iteration. Leading the migration of current/legacy applications (Classic ASP, ASP.NET MVC, EF ...  ) to newest technologies and better approaches (SOA, WCF, webAPI, Angular, RabbitMQ, SignalR, Dapper, ...)</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/smartodds.png" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> London
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Working with an Agile, Scrum methodology to ensure delivery of high quality work every 2/3 weeks iteration. Leading the migration of current/legacy applications (Classic ASP, ASP.NET MVC, EF ...  ) to newest technologies and better approaches (SOA, WCF, webAPI, Angular, RabbitMQ, SignalR, Dapper, ...)</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/fantasyleague.png" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> London
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Member of a team in an Agile environment, using Continuous Integration, developing the new generation Fantasy League game platform to support any kind of different products/sports, using the cutting-edge technologies.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/generalcable.png" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> Barcelona
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>As a member of IT Production department, I have been in charge of full cycle life (study, organization, analysis , design and development) in different projects:</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/speechware.png" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> Brussels
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>As a member of IT Production department, I have been in charge of full cycle life (study, organization, analysis , design and development) in different projects:</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/qontinuum.gif" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> Barcelona
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>As a member of IT Production department, I have been in charge of full cycle life (study, organization, analysis , design and development) in different projects:</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/better.png" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> Barcelona
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>As a member of IT Production department, I have been in charge of full cycle life (study, organization, analysis , design and development) in different projects:</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <img src="/assets/experience/ramonllull.jpg" />
              </mat-panel-title>
              <mat-panel-description class="position">
                  Software Developer
              </mat-panel-description>
              <mat-panel-description class="location">
                  <i class="material-icons">location_on</i> Barcelona
              </mat-panel-description>
              <mat-panel-description class="period">
                  <i class="material-icons">date_range</i> 02.2014 - 09.2017
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>As a member of IT Production department, I have been in charge of full cycle life (study, organization, analysis , design and development) in different projects:</p>
        </mat-expansion-panel>
      </div>
    </div>
    <div class="item2"> 
      <div class="header">   
        <div class="mat-h1">
          Education
        </div>
      </div>
      <div class="body">
        <mat-list>
          <mat-list-item>
            <i class="fa fa-envelope" mat-list-icon></i>
            <h4 mat-line><a href="mailto:daniru@gmail.com">daniru@gmail.com</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-twitter" mat-list-icon></i>
            <h4 mat-line><a href="https://twitter.com/DRubioU">@DRubioU</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-github" mat-list-icon></i>
            <h4 mat-line><a href="https://github.com/daniru">daniru</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-linkedin-square" mat-list-icon></i>
            <h4 mat-line><a href="https://www.linkedin.com/in/daniel-rubio-34441a26/">Daniel Rubio</a></h4>
          </mat-list-item>
          <mat-list-item>
            <i class="fa fa-instagram" mat-list-icon></i>
            <h4 mat-line><a href="https://www.instagram.com/drubiou/">drubiou</a></h4>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</section>

<!-- http://www.demo.mutationmedia.net/DIFFERENCE/index.html -->