@import  "../../../../styles/_colors";

.content {
    padding: 20px 0;
    width: 100%;

    .row {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%;
        
        .item,
        .item2 {
            min-width: 300px;
            max-width: 900px;
            // width: 29%;
            margin: 2%;
            position: relative;
            display: flex;
            flex-direction: column;

            .main {
                padding: 20px 0;
            }

            
        };

        .item2 {
            width: 47%;
            margin: 2%;
        }
    }
}

.item3 {
     margin: 2%;
}

.header {
    display: flex;

    // .title {
    //     // border-bottom: 3px solid $color300;
    //     background: $color400;
    //     color: white;
    //     // font-family: 'Dosis', sans-serif;
    //     font-size: 1.5em;
    //     padding: 0 20px 5px 20px;
    // }
}

mat-card {
    width: 90%;
    height: 100%;
    // background: transparent;
    border: 0;
    box-shadow: none;
}

mat-expansion-panel {
    width: 100%;

    img {
        display: inline;
        height: 20px;
    }

    .position {
        flex-grow: 0;
        width: 20%;
    }

    .period {
        flex-grow: 0;
        width: 15%;
        i {
            font-size: 1.2em;
            padding: 0 5px;
            color: $color300;
        }
    }

    .location {
        flex-grow: 0;
        padding: 2px 0;
        width: 20%;
        i {
            font-size: 1.2em;
            padding: 0 5px;
            color: $color300;
        }
    }
}