md-toolbar.mat-toolbar {
  // box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  background: transparent;
  display: flex;
  // background: linear-gradient(145deg,#6f8db1,transparent);
}

div { display: inline; }
div.separator { padding: 0 10px; display: inline; opacity: .3 }
div.link { display: inline; cursor: pointer; }

