@import '../../../../styles/_colors';

:host {
  // font-size: 16px;
  text-align: justify;

  .main {
    margin-bottom: 20px;
  }

  ::ng-deep {

    blockquote,
    .alert {
      background-color: $level5;
      border-left: 4px solid $level1;
      border-width: 0 0 0 5px;
      color: $gray-light;
      margin: 20px 0 20px 0;
      padding: 15px;
      &.alert-primary {   border-color: $level1;      background-color: $level5; }
      &.alert-success {   border-color: $green;       background-color: $green-light; }
      &.alert-info {      border-color: $level2;      background-color: $level5; }
      &.alert-warning {   border-color: $orange;      background-color: $orange-light; }
      &.alert-danger {    border-color: $red;         background-color: $red-light; }
      &.alert-inverse {   border-color: $gray-dark;   background-color: lighten($gray-dark, 40%); }
      &.alert-secondary { 
        border-color: $level1; 
        background: $level5;
      }
    }

    h2 {
      border-bottom: 1px solid $level4;
      font-size: 25px;
      margin: 30px 0;
      opacity: .7;
      padding: 5px 0;
    }

    h3 {
      font-size: 22px;
      margin: 30px 0;
      opacity: .6;
      padding: 5px 0;
    }

    p { margin-top: 0; }

    code {
      background: $level4;
      border: 1px solid $level3;
      display: block;
      font-size: 12px;
      padding: 10px;
    }

    table {
      
      margin-bottom: 1rem;
      max-width: 100%;
      width: 100%;

      th,
      td {
        margin-bottom: 1rem;
        padding: .74rem;
        vertical-align: top;
      }

      tbody tr {
        background: $level5;
      }

      thead th {
        // border-bottom: 2px solid $table-border-color;
        background: $level4;
        vertical-align: bottom;
      }

      tbody + tbody {
        border-top: 2px solid $table-border-color;
      }
    }
  }
}
