<section class="container">
    <h1 class="mat-title">
     One of my projects has been creating my own Personal Website from scratch, using the latest version of Angular and @angular/cli. 
     You can find the source code in this public Repository:
    </h1>
    <a mat-raised-button><i class="mdi mdi-github-circle"></i> Code In Github </a>
    <h2 class="mat-body-1">
      This is a List of some tecnologies or tecniques used to built it.

      <mat-list>
        <mat-list-item> - Angular CLI </mat-list-item>
        <mat-list-item> - Use of Angular Components, Services, Directives and Pipes </mat-list-item>
        <mat-list-item> - Lazy Load </mat-list-item>
        <mat-list-item> - Typescript </mat-list-item>
        <mat-list-item> - Firebase connection For Authentication and Remote Storage </mat-list-item>
        <mat-list-item> - Github as a remote source repository and hosting in GitHub Pages </mat-list-item>
      </mat-list>

     </h2>
  </section>