<section class="container">
    <h1 class="mat-title">
     One of my projects has been creating my own Personal Website from scratch, using the latest version of angular and @angular/cli. 
     You can find the source code in this public Repository:
    </h1>
    <a md-raised-button><i class="mdi mdi-github-circle"></i> Code In Github </a>
    <h2 class="mat-body-1">
      This is a List of some tecnologies or tecniques used to built it.

      <md-list>
        <md-list-item> - Typescript </md-list-item>
        <md-list-item> - Lazy Load </md-list-item>
        <md-list-item> - Angular CLI </md-list-item>
        <md-list-item> - Firebase connextion For Authentication and some Remote Storage </md-list-item>
        <md-list-item> - Github as a remote source repository and hosting in GitHub Pages </md-list-item>
        <md-list-item> - Use of Angular Components, Services, Directives and Pipes </md-list-item>
       </md-list>

     </h2>
  </section>