<section class="container">
  
  <div class="mat-title">
    This particular project is the website where you are right now. It has been created using the lastest
    version of @angular and @angular/cli. It was to be a blog and a place where I am going to publish my work
    and ideas. The site is it full open source and you can find the source code in Github.
    <a mat-raised-button><i class="mdi mdi-github-circle"></i> Code In Github </a>
    <div>This is a List of some tecnologies or tecniques used:</div>
  </div>
    
  <mat-list>
    <mat-list-item class="item">
      <div class="text"><div class="inner">Typescript </div></div>
    </mat-list-item>
    <mat-list-item class="item">
      <div class="text"><div class="inner">Angular CLI </div></div>
    </mat-list-item>
    <mat-list-item class="item">
      <div class="text"><div class="inner">Use of Angular Components, Services, Directives and Pipes </div></div>
    </mat-list-item>
    <mat-list-item class="item">
      <div class="text"><div class="inner">Lazy Load</div></div>
    </mat-list-item>
    <mat-list-item class="item">
      <div class="text"><div class="inner">AOT</div></div>
    </mat-list-item>
    <mat-list-item class="item">
      <div class="text"><div class="inner">Firebase connection For Authentication and Live Database </div></div>
    </mat-list-item>
    <mat-list-item class="item">
      <div class="text"><div class="inner">Github as a remote source repository and hosting in GitHub Pages</div></div>
    </mat-list-item>
  </mat-list>
</section>