@import "./styles/_colors";
@import "./styles/_material.overwrites";

body, html {
  // background-color: $background;
  background: $level6;
  // background: -moz-linear-gradient(left, $level4 0%, $level6 100%);
  // background: -webkit-linear-gradient(left, $level4 0%, $level6 100%);
  // background: linear-gradient(to right, $level4 0%, $level6 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = $level4, endColorstr = $level6, GradientType = 1 );

  color: $color;
  font-family: $font-family;
  margin: 0;
  height: 100%;
  font-size: 18px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  position: relative;
}

a {
  color: $colorA200;
  text-decoration: none;
  &:hover { color: $color600; }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.full-width,
.full-size {
  width: 100%;
}

* {
  outline: 0;
}

