@import  "../../../../styles/_colors";

.content {
    width: 100%;

    .row {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 30px;
    }

    .separator {
        width: 20px;
    }

    .item2,
    .item {
        display: flex;
        flex-direction: column;
        flex-grow: 20;
        max-width: calc(100% - 500px);
        padding: 20px;

        .maintext {
            background: #c4c7c8;
            padding: 20px;
        }
    }

    .item2 {
        max-width: 400px;
        width: 400px;
    }
}

i {
    font-size: 14px;
    padding: 0 5px;
    color: $color200;
}

.mat-list {
    padding: 0;
}

.mat-list-item {
    background: #c4c7c8;
    border-bottom: 1px solid #D0D3D4; 
    border-left: 3px solid #a5acb0;
}

mat-expansion-panel {
    width: 100%;
    background: #c4c7c8;
    border-bottom: 1px solid #D0D3D4;
    box-shadow: none !important;
    border-left: 3px solid #a5acb0;

    ::ng-deep .mat-expansion-panel-content {
        background: #D0D3D4;
    }
    img {
        height: 20px;
    }

    .position {
        flex-grow: 0;
        width: 20%;
    }

    .period {
        flex-grow: 0;
        width: 20%;
    }

    .location {
        flex-grow: 0;
        padding: 2px 0;
        width: 20%;
        
    }
}