<div [formGroup]="form">
  
    <section *ngIf="!editFile">
      <mat-toolbar>
        <label>{{form.value.path}}{{form.value.name}}</label>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button class="swap" matTooltip="Swap Sections" *ngIf="showSwap" (click)="onSwapFile()">
          <mat-icon>swap_vert</mat-icon>
        </button>
        <button mat-icon-button class="delete"  matTooltip="Delete Section" (click)="onDeleteFile()">
          <mat-icon color="red">delete</mat-icon>
        </button>
      </mat-toolbar>
      <pre class="prettyprint prettyprinted" [innerHTML]="form.value.content | prettyfile:form.value.name" (click)="onTextClick()"></pre>
    </section>
  
    <div *ngIf="editFile">
      <mat-toolbar>
        <mat-input-container class="full-width">
          <input matInput placeholder="Path" formControlName="path" type="text">
        </mat-input-container>
        <mat-input-container class="full-width">
          <input matInput placeholder="Filename" formControlName="name" type="text">
        </mat-input-container>
        <span class="fill-remaining-space"></span>
        <button mat-icon-button class="done" matTooltip="Finish Edit" (click)="onFinishEdit()">
          <mat-icon color="red">done</mat-icon>
        </button>
      </mat-toolbar>
      <mat-input-container class="full-width">
        <textarea matInput formControlName="content" cols="100" rows="10"></textarea>
      </mat-input-container>
    </div>
  
  </div>
  